nav{
  position: fixed;
  z-index: 2;
  display: block;
  width: 100%;
  background: $bgr-blue-opacity;
}

.brand{
  float: left;
}

.navigation{
  float: right;
  list-style: none;
  padding: 0;
  margin: 0 -15px 0 0;
  font-size: 0;
}

.navigation-item{
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  color: $text-color-base-2;
  text-decoration: none;
  font-size: 14px;

  &:hover{
    background-color: $bgr-blue-opacity;
  }
}

.navigation_expand{
  display: none;
  float: right;
  height: 50px;
  line-height: 50px;
  width: 60px;
  margin-right: -15px;
  padding-top: 2px;
  text-align: center;
  background-color: $bgr-blue-opacity;
  cursor: pointer;

  &:hover{
    background-color: $bgr-blue-opacity-2;
  }
}