.b-wrap{
  width: 1024px;
  margin: 0 auto;

  .b-wrap__cont{
    padding-left: 15px;
    padding-right: 15px;
  }
}
.navigation{
  display: block;
}

.row{
  display: block;
  padding: 0 15px;

  &:after{
    content: '';
    display: block;
    clear: both;
    font-size: 0;
    line-height: 0;
  }

  .col-1{
    float: left;
    width: 45%;
  }

  .col-2{
    float: right;
    width: 45%;
  }
  
  .col4{
    float: left;
    width: (100% - 15%)/4;
    margin-left: 5%;

    &:first-child{
      margin-left: 0;
    }
  }
  
  .col2{
    float: left;
    width: (100% - 5%)/5 * 2;
  }
  .col3{
    float: right;
    width: (100% - 5%)/5 * 3;
  }
}

@media (min-width: 120px) and (max-width: 510px) {
  .row{
    .col-1,
    .col-2,
    .col4{
      float: none;
      width: 100%;
      margin: 30px 0;
    }
  }
  .price-list{
    font-size: 1.4em;
  }
}

@media (min-width: 120px) and (max-width: 600px) {
  .row{
    .col2,
    .col3{
      float: none;
      width: 100%;
      margin: 30px 0;
    }
  }
  .form-field{
    .input-text{
      float: none;
      width: 100%;
      margin: 10px 0;
    }
  }
}

@media (min-width: 510px) and (max-width: 965px) {
  .row{
    .col4{
      width: (100% - 10%)/2;
      margin-left: 2.5%;
      margin-right: 2.5%;
      margin-bottom: 30px;
      
      &:first-child{
        margin-left: 2.5%;
        margin-right: 2.5%;
      }
    }
  }
}

@media (min-width: 780px) and (max-width: 1024px) {
  .b-wrap{
    width: 100%;
  }
  .navigation{
    display: block;
  }
}

@media (min-width: 120px) and (max-width: 780px) {
  body{
    font-size: 12px;
  }
  .b-wrap{
    width: 100%;
    min-width: 320px;
  }
  .navigation{
    display: none;
    float: none;
    clear: both;
    margin-right: -15px !important;
    margin-left: -15px !important;

    .navigation-item{
      display: block;
      border-top: 1px solid rgba(255, 255, 255, .5);
      text-align: center;
      background-color: $bgr-blue-opacity;

      &:hover{
        background-color: $bgr-blue-opacity-2;
      }
    }
  }
  .navigation_expand{
    display: block;
  }
  .slogan{
    padding-top: 70px;

    h1{
      font-size: 1.8em;
    }
  }
}

@media (min-width: 780px) and (max-width: 1600px) and (min-height: 400px) and (max-height: 600px) {
  .slogan{
    padding-top: 70px;

    .slogan-img{
      img{
        width: 48%;
      }
    }
    h1{
      font-size: 1.3em;
    }
  }
}

@media (min-width: 780px) and (max-width: 1600px) and (min-height: 600px) and (max-height: 720px) {
  .slogan{
    padding-top: 100px;

    .slogan-img{
      img{
        width: 70%;
      }
    }
    h1{
      font-size: 1.5em;
    }
  }
}