//bgr
$base-bgr: #fff;
$bgr-blue-opacity: rgba(33, 41, 77, .35);

//text color
$text-color-base: #54626e;
$text-color-base-2: #fff;
$text-color-link: #2a63ff;

//responce
$screen-sm-min: 300px;
$screen-sm-max: 990px;