//bgr
$base-bgr: #fff;
$bgr-blue-opacity: rgba(33, 41, 77, .35);
$bgr-blue-opacity-2: rgba(33, 41, 77, .6);

//text color
$text-color-base: #54626e;
$text-color-base-2: #fff;
$text-color-link: #2a63ff;


//font-size
$base-font-size: 1em;
$slogan-font-size: 1.875em;