//bgr
$base-bgr: #fff;
$bgr-blue-opacity: rgba(33, 41, 77, .35);
$bgr-blue-opacity-2: rgba(33, 41, 77, .6);
$orange: #ff772d;
$orange-light: #ff9962;
$blue: #2f628d;
$blue-light: #d4e7ed;

//text color
$text-color-base: #54626e;
$text-color-base-2: #fff;
$text-color-link: #2a63ff;

//font-size
$base-font-size: 1em;
$slogan-font-size: 1.875em;
$h2-font-size: 2.2em;
$h3-font-size: 1.5em;