<section class="screen" id="about">
  <div class="b-wrap screen_cont">
    <h2>О нас</h2>
    <div class="row">
      <div class="col-1">
        <h3>Мы любим превращать идеи в красивые вещи</h3>
        <p>
          Создавая интернет-проект, мы подходим к задаче комплексно: разрабатываем концепцию, дизайн (от проектирования до
          юзабилити), внедряем новые программные решения,
          занимаемся наполнением контента и технической поддержкой. Наша цель — не просто создать некий продукт, а сформировать
          эффективный канал взаимодействия между
          брендом и
          потребителем. Сейчас одним из приоритетных направлений для нас является маркетинг в digital-среде.
        </p>
      </div>
      <div class="col-2">
        <%= image_tag "img-1.png", alt: "Мы любим превращать идеи в красивые вещ", class: "img-responsive" %>
      </div>
    </div>
  </div>
</section>