<section class="screen screen-orange" id="features">
  <div class="b-wrap screen_cont">
    <h2>Особенности</h2>
    <div class="row">
      <div class="col-2">
        <h3>Ваш сайт будет прекрасно смотреться на всех устройствах</h3>
        <p>
          Современный мир ускоряется. Современный клиент желает иметь доступ к покупкам тогда, когда у него появляется свободное
          время (на работе, в пути, на отдыхе или
          дома). Мы считаем, что сайт обязан понимать, как именно он должен подавать информацию для посетителя и быть удобным в
          использовании не тоьлько на компьютерах,
          но и планшетах и телефонах.
        </p>
      </div>
      <div class="col-1">
        <%= image_tag "img-2.png", alt: "Ваш сайт будет прекрасно смотреться на всех устройствах", class: "img-responsive" %>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-1">
        <h3>Мы идём в ногу со временем!</h3>
        <p>
          Разрабатываем бэкенд и фронтенд с применением передовых технологий и алгоритмов. На сервере используем фреймворк “ruby
          on rails” и свои наработки на этой платформе, что позволяет нам писать гибкий, быстрый, качественный и что немаловажно
          безопасный код. Для интерфейсной части используем зарекомендовавший себя с наилучших сторон фреймворк angularjs, jquery.
          Использование данных технологий позволяет получить на выходе качественный продукт заточенный под клиента(клиенту не
          придётся изучать сложную админку).
        </p>
      </div>
      <div class="col-2">
        <%= image_tag "img-3.png", alt: "Мы идём в ногу со временем!", class: "img-responsive" %>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-2">
        <h3>Мы готовы предоставить вам поддержку вашего проекта</h3>
        <p>
          Реализовать и запустить проект – это полдела, наша компания готова предоставить вам услуги по дальнейшуму развитию и
          поодержки вашего проекта на любое время. Работа осуществляется оперативно, качественно и с соблюдением сроков.
        </p>
      </div>
      <div class="col-1">
        <%= image_tag "img-4.png", alt: "Мы готовы предоставить вам поддержку вашего проекта", class: "img-responsive" %>
      </div>
    </div>
  </div>
</section>