<nav>
  <div class="b-wrap">
    <div class="b-wrap__cont clearfix js-nav-wrap">
      <a class="brand" href="#">ROCKET-WEB</a>

      <span class="navigation_expand js-nav-expand"><span class="icon icon-align-justify"></span></span>

      <div class="navigation js-nav">
        <a class="navigation-item" href="#about">О нас</a>
        <a class="navigation-item" href="#features">Особенности</a>
        <a class="navigation-item" href="#price">Стоимость</a>
        <a class="navigation-item" href="#portfolio">Портфолио</a>
        <a class="navigation-item" href="#contacts">Контакты</a>
      </div>
    </div>
  </div>
</nav>