<section class="screen" id="price">
  <div class="b-wrap screen_cont">
    <h2>Стоимость</h2>
    <div class="row price-list">
      <div class="col4">
        <h3>Сайт визитка</h3>
        <div class="price">7500 Р</div>
        <ul>
          <li>
            <div class="li-cont">Адаптивный дизайн</div>
          </li>
          <li>
            <div class="li-cont">Типовое решение</div>
          </li>
          <li>
            <div class="li-cont">Брендирование сайта</div>
          </li>
          <li>
            <div class="li-cont">Панель управления</div>
          </li>
          <li>
            <div class="li-cont">Наполнение контентом</div>
          </li>
          <li>
            <div class="li-cont">Форма обратной связи</div>
          </li>
          <li>
            <div class="li-cont">Фотогаллерея</div>
          </li>
        </ul>
        <a class="btn" href="#">Заказать</a>
      </div>
      <div class="col4">
        <h3>Сайт визитка PRO</h3>
        <div class="price">27 500 Р</div>
        <ul>
          <li>
            <div class="li-cont">Адаптивный дизайн</div>
          </li>
          <li>
            <div class="li-cont">Типовое решение</div>
          </li>
          <li>
            <div class="li-cont">Брендирование сайта</div>
          </li>
          <li>
            <div class="li-cont">Панель управления</div>
          </li>
          <li>
            <div class="li-cont">Наполнение контентом (до 5 страниц)</div>
          </li>
          <li>
            <div class="li-cont">Модуль ленты новостей</div>
          </li>
          <li>
            <div class="li-cont">Фора обратной связи</div>
          </li>
          <li>
            <div class="li-cont">Фотогаллерея</div>
          </li>
          <li>
            <div class="li-cont">Домен на 1 год (зона ru)</div>
          </li>
        </ul>
        <a class="btn" href="#">Заказать</a>
      </div>
      <div class="col4">
        <h3>Landing Page</h3>
        <div class="price">37 500 Р</div>
        <ul>
          <li>
            <div class="li-cont">Адаптивный дизайн</div>
          </li>
          <li>
            <div class="li-cont">Уникальное решение</div>
          </li>
          <li>
            <div class="li-cont">Брендирование сайта</div>
          </li>
          <li>
            <div class="li-cont">Панель управления</div>
          </li>
          <li>
            <div class="li-cont">Наполнение контентом</div>
          </li>
          <li>
            <div class="li-cont">Форма обратной связи</div>
          </li>
          <li>
            <div class="li-cont">Фотогаллерея</div>
          </li>
          <li>
            <div class="li-cont">Домен на 1 год (зона ru)</div>
          </li>
          <li>
            <div class="li-cont">Хостинг на 1 год</div>
          </li>
        </ul>
        <a class="btn" href="#">Заказать</a>
      </div>
      <div class="col4">
        <h3>Интернет-магазин</h3>
        <div class="price">28 500 Р</div>
        <ul>
          <li>
            <div class="li-cont">Адаптивный дизайн</div>
          </li>
          <li>
            <div class="li-cont">Типовое решение</div>
          </li>
          <li>
            <div class="li-cont">Брендирование сайта</div>
          </li>
          <li>
            <div class="li-cont">Панель управления</div>
          </li>
          <li>
            <div class="li-cont">Наполнение контентом (до 20 страниц)</div>
          </li>
          <li>
            <div class="li-cont">Модуль ленты новостей</div>
          </li>
          <li>
            <div class="li-cont">Форма обратной связи</div>
          </li>
          <li>
            <div class="li-cont">Домен на 1 год (зона ru)</div>
          </li>
          <li>
            <div class="li-cont">Хостинг на 1 год</div>
          </li>
        </ul>
        <a class="btn" href="#">Заказать</a>
      </div>
    </div>
  </div>
</section>