<section class="screen-1" id="home">
  <div class="b-wrap slogan">
    <div class="slogan-img">
      <%= image_tag "screen-1.png", alt: "Дизайн и разработка сайтов, приложений и комплексные решения для проекто в цифровой среде" %>
    </div>
    <h1 class="slogan-text">
      Дизайн и разработка сайтов, приложений и комплексные решения для проекто в цифровой среде
    </h1>
  </div>
  <a class="next-screen chevron" href="#about">
    <span class="icon-chevron-down"></span>
  </a>
</section>