<section class="screen screen-blue-light">
  <div class="b-wrap screen_cont">
    <div class="row">
      <div class="col-1">
        <h3>Вы готовы заказать у нас свой интернет проект?</h3>
      </div>
      <div class="col-2"><a class="btn" href="#">Заказать прямо сейчас</a></div>
    </div>
  </div>
</section>

<section class="screen screen-blue" id="contacts">
  <div class="b-wrap screen_cont">
    <div class="row">
      <div class="col2">
        <div class="brand-cont">
          <a class="brand" href="#">ROCKET-WEB</a>
        </div>
        <p>Телефон: +7 (909) 959-31-06</p>
        <p>Телефон: +7 (926) 751-11-14</p>
        <p>E-mail: maxstbn@gmail.com</p>
      </div>
      <div class="col3">
        <div class="form">
          <%= render 'pages/form' %>
        </div>
      </div>
    </div>
  </div>
</section>
