= form_tag({controller: "pages", action: "order"}, method: "post", class: "form-horizontal") do
  %h2 Контакты
  .form-field.clearfix
    = text_field(:order, :name, :class=> "input-text", :placeholder=>"Ваше имя")
    = telephone_field(:order, :phone, :class=> "input-text", :placeholder=>"Номер телефона")
  .form-field
    = text_area(:order, :date, :placeholder=>"Ваше имя")
  .form-field
    %button.btn{:type => "submit"} Заказать