<section class="screen" id="portfolio">
  <div class="b-wrap screen_cont">
    <h2>Портфолио</h2>
    <div class="jcarousel__cont">
      <div class="chevron jcarousel-prev"><span class="icon icon-chevron-left"></span></div>
      <div class="jcarousel">
        <ul>
          <%- @carousels.each do |item| %>
              <li>
                <a href="<%= item.href %>" target="_blank">
                  <img src="<%= item.images %>"/>
                </a>
                <h4>
                  <a href="<%= item.href %>" target="_blank">
                    <%= item.title %>
                  </a>
                </h4>
                <div>
                  <%= item.date %>
                </div>
              </li>
          <%- end %>
        </ul>
      </div>
      <div class="chevron jcarousel-next"><span class="icon icon-chevron-right"></span></div>
    </div>
  </div>
</section>