.jcarousel{
    position: relative;
    overflow: hidden;
}
.jcarousel ul{
    width: 20000em;
    position: relative;

    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li{
    float: left;
    width: 100px;
    margin: 0 15px;

    > a{
        position: relative;
        display: block;
        width: 271px;
        height: 271px;
        background-color: #2f628d;
        
        > img{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }

    h4{
        a{
            color: $orange;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    img{
        width: 100%;
        //    height: auto;
    }
}

.jcarousel__cont{
    position: relative;
    padding: 0 60px;

    .jcarousel-next,
    .jcarousel-prev{
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -27px;
    }

    .jcarousel-next{
        left: auto;
        right: 0;
    }
}