html, body{
    height: 100%;
    background-color: $base-bgr;
    font-family: 'Open Sans', sans-serif;
    color: $text-color-base;
    font-size: 100%;
    line-height: 150%;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    color: $text-color-link;
    outline: none;
}

p{
    margin: 10px 0;
}

h1{
    margin: 0;
    font-size: $slogan-font-size;
    line-height: 1.3em;
    font-weight: 200;
    color: #fff;
}
h2{
    margin: 0 0 50px;
    font-size: $h2-font-size;
    line-height: 1.3em;
    font-weight: 200;
}
h3{
    margin: 0 0 20px;
    font-size: $h3-font-size;
    line-height: 1.3em;
    font-weight: 600;
}
h4{
    margin: 0 0 2px;
    font-size: $base-font-size;
    line-height: 1.3em;
    font-weight: 600;
    color: $orange;
}

hr{
    display: block;
    height: 1px;
    margin: 45px 15px;
    background-color: $orange-light;
    border-width: 0;

    &.blue{
        margin: 0;
        background-color: #e5f1f4;
    }
}

.icon{
    color: #fff;
    font-size: 20px;
}

.brand{
    height: 50px;
    line-height: 50px;
    padding: 0 5px 0 50px;
    background: image-url("logo.png") no-repeat 5px 50%;
    color: $text-color-base-2;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;

    &:hover{
        background-color: $bgr-blue-opacity;
    }
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.chevron{
    display: block;
    width: 54px;
    height: 54px;
    line-height: 54px;
    font-size: 30px;
    background-color: $orange;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    .icon{
        font-size: 30px;
    }

    &:hover{
        opacity: .7;
    }

    &:active{
        opacity: .9;
    }
}

//screen-1
.screen-1{
    position: relative;
    height: 100%;
    padding: 0 0 40px;
    background: image-url("screen-1.jpg") no-repeat 50% 0;
    background-size: cover;

    .next-screen{
        display: block;
        margin: 30px auto 0;
    }
}

.slogan{
    width: 100%;
    padding: 130px 0 0 0;
    text-align: center;

    .slogan-img{
        margin: 0 0 50px;

        img{
            width: 90%;
            vertical-align: top;
        }
    }

    .slogan-text{
        display: inline-block;
        max-width: 660px;
        padding: 0 15px;
    }
}

//screen
.screen{
    background-color: #fff;

    &.screen-orange{
        background-color: $orange;
        color: $text-color-base-2;
    }

    &.screen-blue-light{
        background-color: $blue-light;

        .btn{
            height: 55px;
            line-height: 55px;
            margin-top: 10px;
            font-size: 1.3em;
        }
    }

    &.screen-blue{
        background-color: $blue;
        color: $text-color-base-2;
        font-size: 1.125em;
        line-height: 1.3em;
    }

    .screen_cont{
        padding: 60px 0;
    }

    h2{
        text-align: center;
    }
}

.price-list{

    h3{
        font-size: 1.25em;
        color: $orange;
        margin: 0;
    }

    .price{
        font-size: 3em;
        line-height: 1.1em;
        color: $orange;
        font-weight: 600;
    }

    ul{
        height: 320px;
        margin: 15px 0 25px 0;
        padding-left: 15px;
        list-style-type: disc;
        color: $orange;

        li{
            margin: 10px 0;

            .li-cont{
                color: $text-color-base;
            }
        }
    }
}

.btn{
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 1.125em;
    color: $text-color-base-2;
    text-align: center;
    background-color: $orange;
    border-radius: 4px;
    text-decoration: none;
    border: none;

    &:hover{
        opacity: .8;
    }

    &:active{
        opacity: .9;
    }
}

#contacts{
    text-align: left;

    .brand-cont{
        margin: 0 0 50px;
    }

    h2{
        margin: 0;
        font-size: 1.5em;
        line-height: 1.3em;
        color: $text-color-base-2;
        font-style: italic;
        text-align: left;
    }

    .btn{
        width: 220px;
    }
}

.form{

}

.form-field{
    margin: 20px 0;

    .input-text{
        float: left;
        width: 49%;
        margin-left: 2%;

        &:first-child{
            margin-left: 0;
        }
    }

    textarea{
        width: 100%;
        height: 110px;
    }

    .input-text,
    textarea{
        padding: 5px 10px;
        border: 2px solid #6e91af;
        border-radius: 4px;
        background: transparent;
        color: $text-color-base-2;

        &:focus{
            border-color: #fff;
        }
    }

}