<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Веб-студия Rocket-web - разработка сайтов и интернет магазинов</title>
  <meta name="Keywords" content="разработка интернет магазинов, проектирование интернет-магазинов, веб-студия, веб, дизайн, сайтов">
  <meta name="Description" content="Разработка сайтов в веб-студии Rocket-web это процесс включающий в себя проектирование структуры и страниц, дизайн сайта, программирование, тестирование, запуск в сеть и техническую поддержку.">
  <meta property="og:title" content="Веб-студия Rocket-web - разработка сайтов и интернет магазинов">
  <meta property="og:url" content="http://rocket-web.ru/">
  <meta property="og:description" content="Разработка сайтов в веб-студии Rocket-web это процесс включающий в себя проектирование структуры и страниц, дизайн сайта, программирование, тестирование, запуск в сеть и техническую поддержку.">
  <meta name="author" content="">
  
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/nav' %>
<%= render 'shared/screen1' %>
<%= render 'shared/about' %>
<%= render 'shared/features' %>
<%= render 'pages/portfolio' %>
<div class="b-wrap">
  <hr class="blue"/>
</div>
<%= render 'shared/price' %>
<%= render 'pages/contacts' %>

<%= javascript_include_tag 'application.js' %>

<%= render 'shared/counter' %>

</body>
</html>
